* {
  margin: 0;
}

.App {
  display: flex;
  background-color: #f2f2f2;
  overflow-y: hidden;
}

.content-container {
  width: 730px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.modal {
  display: flex;
}
