@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800&display=swap");
body.active-modal {
  overflow-y: hidden;
}

.overlay {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  box-sizing: border-box;
  z-index: 1;
}

/* InvoiceModal Styling */
h1 {
  font-family: "League Spartan", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -0.5px;
  color: #0c0e16;
}

button {
  font-family: "League Spartan", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: -0.25px;
  height: 48px;
  border-radius: 24px;
  border-style: none;
}

/* ------------------------ */

/* NewInvoice Modal Styling */
.newInvoice-modal {
  position: absolute;
  width: 719px;
  height: 95vh;

  background-color: white;
  border-radius: 20px;
}

.newInvoice-modal .modal-content {
  width: 504px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 56px;
  margin-bottom: 32px;
}

.modal-input-fields {
  max-height: 75vh;
  overflow-y: scroll;
}

.modal-input-fields::-webkit-scrollbar {
  display: none;
}

.sender-client-container {
  margin-top: 48px;
}

h2 {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: -0.25px;
  color: #7c5dfa;
}

/* Input Field */
.input {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}
.input label {
  font-family: "League Spartan", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #7e88c3;
}

.input input {
  box-sizing: border-box;
  height: 35px;
  margin-top: 10px;
}
/* /////////////////////////// */

.flex-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.newInvoice-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.discard-btn {
  background-color: #f9fafe;
  width: 96px;
  color: #888eb0;
  font-family: "League Spartan", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: -0.25px;
  height: 48px;
  border-radius: 24px;
  border-style: none;
}

.draft-btn {
  background-color: #373b53;
  width: 133px;
  color: #888eb0;
  font-family: "League Spartan", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: -0.25px;
  height: 48px;
  border-radius: 24px;
  border-style: none;
}

.save-btn {
  background-color: #7c5dfa;
  width: 133px;
  color: white;
  font-family: "League Spartan", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: -0.25px;
  margin-left: 8px;
  height: 48px;
  border-radius: 24px;
  border-style: none;
}

/* Delete InvoiceModal */

.deleteInvoice-modal {
  position: absolute;
  width: 480px;
  height: 249px;

  background-color: white;
  border-radius: 20px;
}

.deleteInvoice-modal .modal-content {
  margin: 48px;
  width: 384px;
  height: 153px;
}

.deleteInvoice-modal p {
  font-family: "League Spartan", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.25px;
  color: #7e88c3;
  margin-top: 16px;
}

.delete-button {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-top: 16px;
}

.delete-button .cancel {
  background-color: #f9fafe;
  color: #7e88c3;
  font-family: "League Spartan", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: -0.25px;
  width: 91px;
  height: 48px;
  border-radius: 24px;
  border-style: none;
}

.delete-button .delete {
  background-color: #ec5757;
  color: white;
  font-family: "League Spartan", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: -0.25px;
  width: 91px;
  height: 48px;
  border-radius: 24px;
  border-style: none;
  margin-left: 8px;
}
