@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800&display=swap");

.header-container {
  width: 730px;
  height: 59px;
  /* margin-left: 252px; */
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.list-container {
  /* position: absolute; */
  overflow-y: scroll;
  max-height: 75vh;
  width: 800px;
  margin-top: 65px;
}

.list-container::-webkit-scrollbar {
  display: none;
}

.invoice-title {
  display: flex;
  flex-direction: column;
}

.invoice-title h3 {
  font-family: "League Spartan", sans-serif;
  color: #0c0e16;
  font-weight: 700;
  font-size: 32px;
  letter-spacing: -1px;
  line-height: 36px;
  margin-bottom: 0px;
}

.invoice-title p {
  margin-top: 8px;
  font-style: "League Spartan", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #888eb0;
}

.invoice-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -30px;
}

.newInvoice-btn {
  position: relative;
  margin-top: 35px;
  margin-left: 40px;
  background-color: #7c5dfa;
  border-radius: 50px;
  width: 150px;
  height: 48px;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
}

/* .invoice-btn button {
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  color: white;
  width: 150px;
  height: 48px;
  background-color: #7c5dfa;
  border-style: none;
  border-radius: 50px;

  margin-top: 35px;
  margin-left: 40px;
} */

.invoice-btn p {
  font-family: "League Spartan", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: -0.25px;

  margin-top: 50px;
  margin-right: 40px;
}

.arrow {
  border: 2px solid #7c5dfa;
  width: 0.46px;
  height: 4.23px;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.item-container {
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 730px;
  height: 72px;
  border-radius: 8px;
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  margin-bottom: 16px;
}

.item-container p {
  margin-top: 29px;
  margin-left: 32px;
  margin-right: 32px;
}

.content-container {
  margin-top: 63px;
  margin-bottom: 0;
}

.back-btn {
  display: flex;
  justify-content: space-between;
  width: 81px;
  font-family: "League Spartan", sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: -0.25px;
  color: #0c0e16;
}

.details-header-container {
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 730px;
  height: 88px;
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  border-radius: 8px;
  margin-top: 32px;
}

.details-status {
  width: 159px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin-left: 32px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.details-btns {
  display: flex;
  justify-content: space-between;
  width: 309px;
  margin-top: 20px;
  margin-right: 32px;
}

.details-btns button {
  height: 48px;
  border-radius: 50px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 15px;
  padding-bottom: 17px;
  border-style: none;
  font-size: 12px;
  font-family: "Spartan", sans-serif;
  font-weight: 700;
}

.invoice-data-container {
  background-color: white;
  margin-top: 24px;
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  border-radius: 8px;
}

.sender-details {
  display: flex;
  justify-content: space-between;
}

.id--description {
  margin-left: 48px;
  margin-top: 48px;
}

.id--description p {
  margin-top: 0;
  margin-bottom: 0;
}

.senderAddress {
  width: 150px;
  height: 75px;
  text-align: right;
  margin-right: 48px;
  margin-top: 48px;
}

.invoice-data-container h6 {
  font-size: 11px;
  font-weight: 500;
  color: #7e88c3;

  margin-top: 2.5px;
  margin-bottom: 2.5px;
}

.clientDetails-container {
  display: flex;
  justify-content: space-between;
  margin-left: 48px;
  margin-right: 48px;
  margin-top: 21px;
}

.clientDetails-container p {
  font-size: 15px;
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  letter-spacing: -0.3125px;
  color: #0c0e16;
  margin-top: 12px;
}

.itemList {
  margin: 48px;
  width: 634px;
  background-color: #f9fafe;
  margin-bottom: 48px;
}

/* Invoice Item View Button */

.item-container button {
  border-style: none;
  background-color: white;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 24px;
}
